<div class="col-sm-3">
    <div class="list-group">
        <a href="#/" class="list-group-item">
        	<img class="media-object" src="{{ productInfo.imageSrc }}" alt="{{ productInfo.imageAlt}}" width="100%">
            <h4 class="list-group-item-heading">{{ productInfo.title }}</h4>
            <span>$ {{ productInfo.price}}</span>
            <p class="list-group-item-text">
            	{{ productInfo.description }}
            </p>
            <button href="/#/" class="btn btn-primary btn-small" ng-click="addToCartFunction({aproduct: productInfo})">
                Add to  <i class="glyphicon glyphicon-white glyphicon-shopping-cart"></i>
            </button>
            <span ng-repeat="product in productsInCart">
                <span ng-if="product.productID === productInfo.productID" class="label label-success">
                    <i class="glyphicon glyphicon-ok"></i> In cart
                </span>
            </span>
        </a>
    </div>
</div>